@import 'normalize.css';

img {
    width: 100%;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    border-style: solid;
    border-width: 50px;
    border-image: linear-gradient(180deg, darkred, black) 1;
    padding: 35px;
}

#num {
    color: red;
}

header {
    font-family: "trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#the-T {
    float: left;
    background-image: url("https://sat02pap001files.storage.live.com/y4mliFx3upCPVt9X0y5I76gHfD2rKy2NATkAmE4fBqZya5p46o9h0zRa7QtWzXhlC3yZTou90rH0DmigWC7EQcVQraNntDJm0McUz93Ku51q0LKI7QE1PVbPMwExtMut1jwnmrtNFIh0BWWWrEgaZpTxmg6KB6La99_6n3yUv7s_P-JuiBwip5yPkwy_E3OOvT9wKme36hCYwnClju1Brj4YcVV3QhGa-siKAPIvsAKpPsoFzzpsSYi-fAbztO1TMJnuk8pJGhtVYVQKfRLWvjNZA/tree-of-death.jpg?psid=1&width=125&height=125&cropMode=center");
    margin: 0px 10px 0px 0px;
    line-height: 125px;
    width: 125px;
    height: 125px;
    text-align: center;
    vertical-align: middle;
    font-size: 75px;
    color: white;
}

#paragraph-2 {
    min-height: 170px;
}

#comparison-img {
    width: 500px;
    height: 170px;
    float: right;
    margin: 0px 0px 0px 0px;
}

#xerxes-img {
    width: 400px;
    height: 211px;
    margin-right: 10px;
    float: left;
}

#cliff-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}