@import 'normalize.css';

img {
    width: 100%;
}

@Font-face {
    font-family: "Oxygen";
    src: url("Oxygen-light.ttf");
}

html {
    background: url("https://sat02pap001files.storage.live.com/y4mVdQFk0B2SZcdevt7H4sB4iLZcJToLrHdKHbod6cy31vUStE2VZAkoFDM2mhk8LAjOJGNqc3IM0zji9z7H4hpZOXlgBJAl0OKcPhveN1bOOSgFXYZ6x-fH6Zy17lX-14dXwGcPqKW2u4DeX2Pm3bzl5EOBYENRSMeBlBWv0-7rqn7xz-h6dHt-NMoAQhwoVjHmDEIwoy6f-lf_DpeOnz471JyBnSgKD7IyFXZygVcATEgI6FVC7r37Ckui8-7bA48G-9OqCrz-2Yb7fQuVraSFA/stormy-weather-background.jpg?psid=1&width=292&height=193")
    no-repeat center fixed;
    background-size: cover;
    font-family: "Oxygen", serif;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

h1 {
    margin: 0 0 0 0;
    padding: 30px;
    vertical-align: middle;
    font-size: 50px;
}

@Font-face {
    font-family: "IcoMoon";
    src: url("IcoMoon-Free-master") format('truetype');
    src: url()
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icons {
    font-family: "IcoMoon", serif;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    display: inline-flex;
    align-items: center;
    font-size: xx-large;
    opacity: 0.5;
    padding: 30px


}

@media only screen and (max-device-width: 767px) {
    .phone {
        opacity: 1;
    }
    .tablet {
        opacity: 1;
    }
    .computer {
        opacity: 1;
    }
}

.verse {
    position: relative;
    transform: translate(10vh, 10vh);
    font-size: 2vmax;
    height: fit-content;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3.5%;
    border-style: double;
    border-width: 7px;
    border-color: white;
}

.verses {
    margin-top: 0;
}